
<div class="jumbotron" id = "titleDiv">
    <div class="container">
        <h1 id="title">Welcome to Guitar Chord!</h1>
        <p id="title">This website allows you to select different types of chord sheets. You can also make your own chord sheets and upload it onto this website. Enjoy your stay here and have fun making chord sheets!</p>
    </div>
</div>

<div class = "container">
    <router-outlet></router-outlet>
</div>   


<div class="footer-bottom">

	<div class="container">

		<div class="row policy">

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

					 <a  class = "links" (click) = "openSecurityPage()">Security and Privacy Policy</a>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

					 <a  class = "links" (click) = "openDMCAPage()">DMCA notice & takedown policy</a>

			</div>

		</div>

	</div>

</div>

