<div id = "backBtn" (click) = "back()">
    <button type="button" class="btn btn-default btn-lg">Back</button>
</div>

<h1>DMCA and Takendown policy</h1>
<h2>Takedown Notice Pursuant to the Digital Millennium Copyright Act of 1998</h2>
<p> To Whom It May Concern,<br> This is a notice in accordance with the Digital Millennium Copyright Act of 1998 (DMCA) requesting that you immediately cease to provide access to copyrighted material. I wish to report an instance of Copyright Infringement, whereby the infringing material appears on a website for which you are the host. </p> 
<ol> 
    <li> <p>The infringing material, which I contend belongs to me, is the following:</p> Name of infringing work	</li> 
    <li> <p>The original material is located on my website at the following URLs:</p> ENTER ORIGINAL CONTENT URL HERE	</li> 
    <li> <p>The infringing material is located at the following URLs:</p> ENTER INFRINGING CONTENT URL HERE	</li>
    <li> <p>My contact information is:</p> <dl> <dt>Name:</dt> <dd>Jackie Ngo</dd> <dt>Mailing address:</dt> <dd>123 Sample Street</dd> <dt>Telephone number:</dt> <dd>123 456 7890</dd> <dt>E-mail address:</dt> <dd>sampleemail@sample.com</dd> </dl> </li> 
    <li> <p>I have a good faith belief that the use of the described material in the manner complained of is not authorized by the copyright owner, its agent, or by operation of law.</p> </li>
    <li> <p>The information in this notice is accurate, and I am either the copyright owner or I am authorized to act on behalf of the copyright owner.</p> </li> 
</ol> 

<p>I declare under the perjury laws of the United States of America that this notification is true and correct.</p> 
<dl> <dt>Signed:</dt> <dd>Jackie Ngo</dd> <dt>Date:</dt> <dd>2016-11-26</dd> </dl> 
<hr> <p><small>Warning: The content of this website is not intended to constitute legal advice, and users of the DMCA takedown request generator remain entirely responsible for their own copyright claims.</small></p>

